
@media screen and (max-width: 850px) {
    
    .menu{
        padding: 5px;
        visibility: hidden;
    }

    header{
        width: 100vw;
        background-color: rgba(204, 24, 24, 0.822);
    }

    header img{
        height: 60px;
        padding: 10px;
        padding-left: 30px;
    }

    body .mobile{
        display: block;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        width: 100vw;
        opacity: 0.8;
        z-index: -100;
    }
    
    
     .sobre video{
        visibility: hidden;
    }

/* SOBRE */

.sobre{
    height: 736px;
}

.caixa_maior_sobre{
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: start;
    padding-top: 200px;
}

.sobre img{
    height: 150px;
}

.sobre h1{
    font-family: 'Rubik Bubbles';
    font-size: 30px;
}

.sobre p{
    font-size: 15px;
    font-family: 'Nunito';
    width: 370px;
    line-height: 20px;
}

/* CARDÁPIO */

.titulo{
    font-size: 50px;
    padding-top: 120px;
}


.frango, .calabresa, .chocolate{
    background-color: white;
    width: 250px;
    height: 380px;
    
}

.cardapio ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 150px;
    align-items: center;
    justify-content: center;
}

.caixa_menor{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 30px;
}

.caixa_menor h1{
    font-size: 25px;
    font-family: 'Rubik Bubbles';
}

.caixa_menor .texto{
    font-size: 14px;
    font-family: 'Nunito';
    text-align: center;
    width: 230px;
}

.caixa_menor .preco{
    font-size: 15px;
}


a img{
    height: 110px;
    width: 110px;
}

/* RODAPE */

.rodape{
	display: flex;
	flex-direction: column;
    gap: 15px;
	border-top: 1px solid white;
	padding-top: 20px;
}
.rodape_titulo{
	font-size: 23px;
    font-family: 'Nunito';
}

.rodape_texto{
	color: rgb(175, 175,175);
    margin-top: 0px;
	font-size: 18px;
    font-family: 'Nunito';
}

.rodape_dev{
	font-size: 15px;
    font-family: 'Nunito';
    text-align: center;
    align-self: center;
    padding-bottom: 20px;
    padding-right: 0;
    justify-content: center;
    align-items: center;
}

}